---
layout: layouts/home.njk
tags:
  - home
navtitle: Home
---

<div class="top-section inner">
	<h2>Fast and beautiful websites for building successful businesses</h2>
</div>

<div class="banner">
	<div class="banner--inner inner">
		<h3 class="banner__header">Need help with your project?</h3>
		<form class="banner__form">
			<label for="your-name">What’s your name?</label>
			<input type="text" id="your-name" />
		</form>
	</div>
</div>

<div class="bio">
	<div class="bio--inner inner">
		<div class="bio-left">
			<p>My name is Timothy Miller. I’m an award-winning web developer, designer, writer, and speaker.</p>
			<p>For over a decade I’ve helped companies large and small with their online properties.</p>
			<p>My work aims to make the internet a better place. I make websites that are fast, flexible, and stand the test of time.</p>
			<p>I’m based in the heartland of the United States. I work remotely and onsite with design, development, and leadership teams to deliver world-class online properties.</p>
		</div>
		<div class="bio-right">
			<div class="picture-frame"><img height="362" width="362" alt="A picture of me!" src="/img/me.png" /></div>
		</div>
	</div>
</div>


<div class="banner banner__logos">
	<h3 class="logos__header">Trusted by</h3>
	<div class="logos--inner inner">
		<a href="http://firespring.com"><img height="71" width="324" alt="Firespring" src="/img/firespring.jpg" /></a>
		<a href="http://stbaldricks.org"><img height="69" width="295" alt="The St. Baldrick's Foundation" src="/img/sbf.jpg" /></a>
		<a href="http://yellowpaddle.com/"><img height="112" width="108" alt="Yellow Paddle Photography" src="/img/yellowpaddle.jpg" /></a>
		<a href="http://mda.org"><img height="62" width="210" alt="The Muscular Dystrophy Association" src="/img/mda.jpg" /></a>
		<a href="http://nmotion.co"><img height="107" width="80" alt="NMotion" src="/img/nmotion.jpg" /></a>
	</div>
</div>