---
layout: layouts/home.njk
title: Web Inspect, Inc.
tags:
  - home
navtitle: Home
---

<h2>Fast and beautiful websites for building successful businesses</h2>

<h3>Need help with your project?</h3>

<p>My name is Timothy Miller. I’m an award-winning web developer, designer, writer, and speaker.</p>

<p>For over a decade I’ve helped companies large and small with their online properties.</p>

<p>My work aims to make the internet a better place. I make websites that are fast, flexible, and stand the test of time.</p>

<p>I’m based in the heartland of the United States. I work remotely and onsite with design, development, and leadership teams to deliver world-class online properties.</p>

<img alt="A picture of me!" src="/img/me.png" />